@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div>@Html.GetGridHtml(Umbraco.AssignedContentItem, "gridLayout")</div>

