@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<header>
    <h1>About</h1>
</header>
<main>
    @Html.GetGridHtml(Umbraco.AssignedContentItem, "gridLayout")
</main>

