@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
@{
	Layout = "Master.cshtml";
}

<header>
    <h1>@Model.SiteTitle</h1>
</header>

<main>
    <h3>@Model.MainContent</h3>
    @Umbraco.RenderMacro("listNewestProjects", new {NumOfProjects="2"})
</main>

