@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<header>
    <h1>Site Map</h1>
</header>
<main>
    @Umbraco.RenderMacro("siteMap")
</main>
